{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Bonjour {{ user.fisrtName }}</h1>
    Vous trouverez ici vos informations personnelles et l'historique de vos parties.
{% endblock %}
